# Describe some details around the certifiacate that we are trying to obtain

apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: gui-hands-on-com-tls
spec: 
  secretName: gui-hands-on-com
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: gui-hands-on.com #the hostname that get be rwite on the certificate.
  dnsNames: # the hostname the certificate is going to cover.
    - gui-hands-on.com
    - wwww.gui-hands-on.com
  # This config below is necessary for the verification process. Video 313.
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
          - gui-hands-on.com
          - www.gui-hands-on.com